.header{
	display: flex;
	border: 1px solid #000;
	.logo{width: 80%;}
	.nav-links ul{
		display: flex;
		list-style: none;
		padding: 10px;
		li{ padding: 10px;}
	}
}
.body {
	.rest-container{
		display: inline-flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
		.resto-card{
			border: 1px solid #000;
			width:250px;
			margin-top: 10px;
			cursor: pointer;
			:hover{padding: 2px;}
			h3, h5, p { margin: 0 0 10px 0; }
		}
	}
	.rest-filter{
		margin: 5px;
		cursor: pointer;
	}
	.show-total{
		padding: 5px;
	}
}
.shimmer-container {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	.card{
		background: #ccc;
		width: 275px;
		height: 350px;
		margin: 15px;
	}
}
