.header{
	display: flex;
	border: 1px solid #000;
	.logo{
		width: 80%;
	}
	.nav-links ul{
		display: flex;
		list-style: none;
		padding: 10px;
		li{
			padding: 10px;
		}
	}
}
.body{
	.rest-container{
		display: inline-flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
		.resto-card{
			border: 1px solid #000;
			width:350px;
			margin-top: 10px;
			cursor: pointer;
			:hover{
				padding: 2px;
			}
		}
	}
	.rest-filter{
		margin: 5px;
		cursor: pointer;
	}
}
